<web-app>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>AddDataFromServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReceiveDataFromServlet</servlet-name>
        <servlet-class>DataFromServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReceiveDataFromServlet</servlet-name>
        <url-pattern>/sendAdd</url-pattern>
    </servlet-mapping>    
</web-app>
